<connectionStrings>
  <add name="permission" connectionString="Server=LAPTOP-001\MYDB;user id=sa;password=Jianglei105;Database=His_Crm;Pooling=true;Max Pool Size =1024;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient;" />
  <add name="soaCommonDB" connectionString="Server=LAPTOP-001\MYDB;user id=sa;password=Jianglei105;Database=His_Crm;Pooling=true;Max Pool Size =1024;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient;" />
 
</connectionStrings>