USE [DEV_DB_CodeSysManager]
GO
/****** Object:  Table [dbo].[Esmart_Right_Log]    Script Date: 2018/7/10 17:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Esmart_Right_Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OprTbName] [nvarchar](4000) NULL,
	[OprUserId] [int] NULL,
	[EventType] [varchar](500) NULL,
	[Remark] [text] NULL,
	[CreateTime] [datetime] NULL,
	[CreateBy] [int] NULL,
	[OptDescription] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Esmart_Sys_Deparent_Role]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esmart_Sys_Deparent_Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeparentId] [int] NULL,
	[RoleId] [int] NULL,
	[Remark] [nvarchar](4000) NULL,
	[CreateId] [int] NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_Esmart_Sys_Deparent_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Esmart_Sys_Department_User]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esmart_Sys_Department_User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DeparentId] [int] NOT NULL,
	[CreateId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Esmart_Sys_Department_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Esmart_Sys_Departments]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Esmart_Sys_Departments](
	[DeparentId] [int] IDENTITY(1,1) NOT NULL,
	[SortNo] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[ParentId] [int] NOT NULL,
	[Remark] [varchar](500) NULL,
	[CreateId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[IsDelete] [int] NULL,
 CONSTRAINT [PK_Esmart_Sys_Departments] PRIMARY KEY CLUSTERED 
(
	[DeparentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Esmart_Sys_Functions]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Esmart_Sys_Functions](
	[FunctionId] [int] IDENTITY(1,1) NOT NULL,
	[AppId] [int] NOT NULL,
	[FunctionName] [nvarchar](50) NULL,
	[Remark] [nvarchar](500) NULL,
	[FunctionKey] [varchar](50) NULL,
	[CreateId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[IsDelete] [int] NOT NULL,
 CONSTRAINT [PK_Esmart_Sys_Functions] PRIMARY KEY CLUSTERED 
(
	[FunctionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Esmart_Sys_LogInfo]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esmart_Sys_LogInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActionId] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[CreateID] [bigint] NOT NULL,
	[Remark] [nvarchar](3000) NULL,
 CONSTRAINT [PK_Esmart_Sys_LogInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Esmart_Sys_Navigation_Function]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esmart_Sys_Navigation_Function](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FunctionId] [int] NULL,
	[NavigationId] [int] NULL,
	[CreateId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Esmart_Sys_Navigation_Function] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Esmart_Sys_Navigations]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Esmart_Sys_Navigations](
	[AppId] [int] NOT NULL,
	[NavigationId] [int] IDENTITY(1,1) NOT NULL,
	[SortNo] [int] NOT NULL,
	[Title] [varchar](50) NULL,
	[Url] [varchar](1024) NULL,
	[ParentID] [int] NOT NULL,
	[Iconurl] [nvarchar](500) NULL,
	[InClassName] [varchar](50) NULL,
	[OutClassName] [varchar](50) NULL,
	[CreateId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Esmart_Sys_Navigations] PRIMARY KEY CLUSTERED 
(
	[NavigationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Esmart_Sys_Role_App]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esmart_Sys_Role_App](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[AppId] [int] NOT NULL,
	[CreateId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Esmart_Sys_Role_App] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Esmart_Sys_Role_Navigation_Function]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esmart_Sys_Role_Navigation_Function](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FunctionId] [int] NOT NULL,
	[NavigationId] [int] NOT NULL,
	[CreateId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Esmart_Sys_Role_Navigation_Function] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Esmart_Sys_Role_Navigations]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esmart_Sys_Role_Navigations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[NavigationId] [int] NOT NULL,
	[CreateId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Esmart_Sys_Role_Navigations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Esmart_Sys_Roles]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Esmart_Sys_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NULL,
	[Remark] [nvarchar](500) NULL,
	[CreateId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[IsBuiltin] [bit] NOT NULL,
 CONSTRAINT [PK_Esmart_Sys_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Esmart_Sys_User_Login]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Esmart_Sys_User_Login](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NULL,
	[Token] [nvarchar](50) NULL,
	[AppID] [int] NULL,
	[CreateTime] [smalldatetime] NULL,
	[UpdateTime] [datetime] NULL,
	[Type] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[LastVaildTime] [datetime] NOT NULL,
	[LastLoginIP] [varchar](100) NULL,
 CONSTRAINT [PK_Esmart_Sys_User_Login] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Esmart_Sys_User_Navigation_Function]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esmart_Sys_User_Navigation_Function](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[FunctionId] [int] NULL,
	[NavigationId] [int] NULL,
	[CreateId] [int] NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_Esmart_Sys_User_Navigation_Function] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Esmart_Sys_User_Navigations]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esmart_Sys_User_Navigations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[NavigationId] [int] NULL,
	[CreateId] [int] NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_Esmart_Sys_User_Navigations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Esmart_Sys_User_Roles]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Esmart_Sys_User_Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreateId] [int] NOT NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_Esmart_Sys_User_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Esmart_Sys_Users]    Script Date: 2018/7/10 17:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Esmart_Sys_Users](
	[UserID] [int] NOT NULL,
	[WorkNo] [nvarchar](100) NULL,
	[UserName] [varchar](50) NULL,
	[PassWord] [varchar](50) NULL,
	[Email] [varchar](500) NULL,
	[Ename] [varchar](100) NULL,
	[TrueName] [nvarchar](100) NULL,
	[Sex] [int] NULL,
	[Education] [nvarchar](100) NULL,
	[Graduate] [nvarchar](100) NULL,
	[Birthday] [smalldatetime] NULL,
	[qq] [varchar](50) NULL,
	[Skype] [nvarchar](100) NULL,
	[Mobile] [varchar](50) NULL,
	[HomeTel] [varchar](50) NULL,
	[HomeAddr] [varchar](200) NULL,
	[OfficeAddr] [varchar](200) NULL,
	[OfficeName] [varchar](200) NULL,
	[Isleave] [int] NOT NULL,
	[IsDelete] [int] NOT NULL,
	[Remark] [nvarchar](500) NULL,
	[CreateId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[LastToken] [varchar](200) NULL,
	[LastLoginIP] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Esmart_Right_Log] ON 

GO
SET IDENTITY_INSERT [dbo].[Esmart_Right_Log] OFF
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Department_User] ON 

INSERT [dbo].[Esmart_Sys_Department_User] ([Id], [UserId], [DeparentId], [CreateId], [CreateTime]) VALUES (1, 2, 2, 1, CAST(0x0000A78500E48AA6 AS DateTime))
INSERT [dbo].[Esmart_Sys_Department_User] ([Id], [UserId], [DeparentId], [CreateId], [CreateTime]) VALUES (2, 6, 2, 1, CAST(0x0000A82A010FA990 AS DateTime))
INSERT [dbo].[Esmart_Sys_Department_User] ([Id], [UserId], [DeparentId], [CreateId], [CreateTime]) VALUES (3, 7, 3, 1, CAST(0x0000A87D00044CA1 AS DateTime))
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Department_User] OFF
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Departments] ON 

INSERT [dbo].[Esmart_Sys_Departments] ([DeparentId], [SortNo], [Name], [ParentId], [Remark], [CreateId], [CreateTime], [IsDelete]) VALUES (1, 1, N'上海源慧', 0, N'上海源慧', 1, CAST(0x0000A50700FD8144 AS DateTime), 0)
INSERT [dbo].[Esmart_Sys_Departments] ([DeparentId], [SortNo], [Name], [ParentId], [Remark], [CreateId], [CreateTime], [IsDelete]) VALUES (2, 0, N'技术部', 1, NULL, 1, CAST(0x0000A78500E3F022 AS DateTime), 0)
INSERT [dbo].[Esmart_Sys_Departments] ([DeparentId], [SortNo], [Name], [ParentId], [Remark], [CreateId], [CreateTime], [IsDelete]) VALUES (3, 0, N'客户部', 1, NULL, 1, CAST(0x0000A78500E3FF32 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Departments] OFF
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Functions] ON 

INSERT [dbo].[Esmart_Sys_Functions] ([FunctionId], [AppId], [FunctionName], [Remark], [FunctionKey], [CreateId], [CreateTime], [IsDelete]) VALUES (1, 130000, N'通用_修改', N'通用_修改', N'common_update', 0, CAST(0x0000A4F300D95BC0 AS DateTime), 0)
INSERT [dbo].[Esmart_Sys_Functions] ([FunctionId], [AppId], [FunctionName], [Remark], [FunctionKey], [CreateId], [CreateTime], [IsDelete]) VALUES (5, 130000, N'通用_添加', N'通用_添加', N'common_add', 0, CAST(0x0000A4F400DF506A AS DateTime), 0)
INSERT [dbo].[Esmart_Sys_Functions] ([FunctionId], [AppId], [FunctionName], [Remark], [FunctionKey], [CreateId], [CreateTime], [IsDelete]) VALUES (6, 130000, N'通用_删除', N'通用_删除', N'common_delete', 0, CAST(0x0000A4F400DF62C0 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Functions] OFF
SET IDENTITY_INSERT [dbo].[Esmart_Sys_LogInfo] ON 

INSERT [dbo].[Esmart_Sys_LogInfo] ([Id], [ActionId], [CreateTime], [CreateID], [Remark]) VALUES (1, N'menuupdate', CAST(0x0000A51000E533C8 AS DateTime), 1, N'用户1修改了菜单，菜单名字是：客户管理')
INSERT [dbo].[Esmart_Sys_LogInfo] ([Id], [ActionId], [CreateTime], [CreateID], [Remark]) VALUES (2, N'menuupdate', CAST(0x0000A5100106F2D8 AS DateTime), 1, N'用户1修改了菜单，菜单名字是：销售管理')
INSERT [dbo].[Esmart_Sys_LogInfo] ([Id], [ActionId], [CreateTime], [CreateID], [Remark]) VALUES (3, N'menuupdate', CAST(0x0000A50E011D4BF0 AS DateTime), 1, N'用户1修改了菜单，菜单名字是：运营部')
SET IDENTITY_INSERT [dbo].[Esmart_Sys_LogInfo] OFF
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Navigation_Function] ON 

INSERT [dbo].[Esmart_Sys_Navigation_Function] ([Id], [FunctionId], [NavigationId], [CreateId], [CreateTime]) VALUES (1, 1, 6, 1, CAST(0x0000A78500E35BB6 AS DateTime))
INSERT [dbo].[Esmart_Sys_Navigation_Function] ([Id], [FunctionId], [NavigationId], [CreateId], [CreateTime]) VALUES (2, 5, 6, 1, CAST(0x0000A78500E35BB6 AS DateTime))
INSERT [dbo].[Esmart_Sys_Navigation_Function] ([Id], [FunctionId], [NavigationId], [CreateId], [CreateTime]) VALUES (3, 6, 6, 1, CAST(0x0000A78500E35BB6 AS DateTime))
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Navigation_Function] OFF
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Navigations] ON 

INSERT [dbo].[Esmart_Sys_Navigations] ([AppId], [NavigationId], [SortNo], [Title], [Url], [ParentID], [Iconurl], [InClassName], [OutClassName], [CreateId], [CreateTime]) VALUES (130000, 1, 1, N'系统管理', N'', 0, N'l-basic-gear', N'1', N'1', 1, CAST(0x0000A4F0012FE5D3 AS DateTime))
INSERT [dbo].[Esmart_Sys_Navigations] ([AppId], [NavigationId], [SortNo], [Title], [Url], [ParentID], [Iconurl], [InClassName], [OutClassName], [CreateId], [CreateTime]) VALUES (130000, 2, 3, N'部门管理', N'/Department/Index', 1, N'3', N'3', N'3', 1, CAST(0x0000A4F100E0F68A AS DateTime))
INSERT [dbo].[Esmart_Sys_Navigations] ([AppId], [NavigationId], [SortNo], [Title], [Url], [ParentID], [Iconurl], [InClassName], [OutClassName], [CreateId], [CreateTime]) VALUES (130000, 3, 0, N'角色管理', N'/Role/Index', 1, NULL, NULL, NULL, 1, CAST(0x0000A4F100F85107 AS DateTime))
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Navigations] OFF
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Role_Navigation_Function] ON 

INSERT [dbo].[Esmart_Sys_Role_Navigation_Function] ([Id], [RoleId], [FunctionId], [NavigationId], [CreateId], [CreateTime]) VALUES (9, 3, 28, 91, 1, CAST(0x0000A88000F50E1A AS DateTime))
INSERT [dbo].[Esmart_Sys_Role_Navigation_Function] ([Id], [RoleId], [FunctionId], [NavigationId], [CreateId], [CreateTime]) VALUES (10, 3, 30, 149, 1, CAST(0x0000A88000F50E1A AS DateTime))
INSERT [dbo].[Esmart_Sys_Role_Navigation_Function] ([Id], [RoleId], [FunctionId], [NavigationId], [CreateId], [CreateTime]) VALUES (11, 2, 28, 91, 1, CAST(0x0000A88000F51BE0 AS DateTime))
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Role_Navigation_Function] OFF
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Role_Navigations] ON 

INSERT [dbo].[Esmart_Sys_Role_Navigations] ([Id], [RoleId], [NavigationId], [CreateId], [CreateTime]) VALUES (43, 3, 10, 1, CAST(0x0000A88000F50E1A AS DateTime))
INSERT [dbo].[Esmart_Sys_Role_Navigations] ([Id], [RoleId], [NavigationId], [CreateId], [CreateTime]) VALUES (44, 3, 91, 1, CAST(0x0000A88000F50E1A AS DateTime))
INSERT [dbo].[Esmart_Sys_Role_Navigations] ([Id], [RoleId], [NavigationId], [CreateId], [CreateTime]) VALUES (45, 3, 148, 1, CAST(0x0000A88000F50E1A AS DateTime))
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Role_Navigations] OFF
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Roles] ON 

INSERT [dbo].[Esmart_Sys_Roles] ([RoleId], [RoleName], [Remark], [CreateId], [CreateTime], [StartTime], [EndTime], [IsBuiltin]) VALUES (1, N'管理员', NULL, 1, CAST(0x0000A78500E533B6 AS DateTime), CAST(0x0000A78500000000 AS DateTime), CAST(0x0000AC7F00000000 AS DateTime), 0)
INSERT [dbo].[Esmart_Sys_Roles] ([RoleId], [RoleName], [Remark], [CreateId], [CreateTime], [StartTime], [EndTime], [IsBuiltin]) VALUES (2, N'运营者', NULL, 1, CAST(0x0000A87D0000942C AS DateTime), CAST(0x0000A87A00000000 AS DateTime), CAST(0x0000AB3400000000 AS DateTime), 0)
INSERT [dbo].[Esmart_Sys_Roles] ([RoleId], [RoleName], [Remark], [CreateId], [CreateTime], [StartTime], [EndTime], [IsBuiltin]) VALUES (3, N'客户人员', NULL, 1, CAST(0x0000A87D0000C85D AS DateTime), CAST(0x0000A87A00000000 AS DateTime), CAST(0x0000A9C700000000 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Esmart_Sys_Roles] OFF
SET IDENTITY_INSERT [dbo].[Esmart_Sys_User_Roles] ON 

INSERT [dbo].[Esmart_Sys_User_Roles] ([Id], [UserId], [RoleId], [CreateId], [CreateTime]) VALUES (2, 7, 3, 1, CAST(0x0000A87D00045907 AS DateTime))
INSERT [dbo].[Esmart_Sys_User_Roles] ([Id], [UserId], [RoleId], [CreateId], [CreateTime]) VALUES (3, 2, 1, 1, CAST(0x0000A87D0009EC84 AS DateTime))
INSERT [dbo].[Esmart_Sys_User_Roles] ([Id], [UserId], [RoleId], [CreateId], [CreateTime]) VALUES (4, 2, 2, 1, CAST(0x0000A87D0009EC84 AS DateTime))
SET IDENTITY_INSERT [dbo].[Esmart_Sys_User_Roles] OFF
INSERT [dbo].[Esmart_Sys_Users] ([UserID], [WorkNo], [UserName], [PassWord], [Email], [Ename], [TrueName], [Sex], [Education], [Graduate], [Birthday], [qq], [Skype], [Mobile], [HomeTel], [HomeAddr], [OfficeAddr], [OfficeName], [Isleave], [IsDelete], [Remark], [CreateId], [CreateTime], [LastToken], [LastLoginIP]) VALUES (3, N'123456789', NULL, N'E10ADC3949BA59ABBE56E057F20F883E', N'123456789@163.com', N'san', N'san', 0, NULL, NULL, CAST(0x7D5C0000 AS SmallDateTime), NULL, NULL, N'15021232123', NULL, NULL, NULL, NULL, 0, 0, NULL, 1, CAST(0x0000A82A010B09C6 AS DateTime), NULL, NULL)
