<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings configSource="Config\AppConfig.config" xdt:Transform="Replace" />
  <connectionStrings configSource="Config\DataBase.config" xdt:Transform="Replace"></connectionStrings>
</configuration>