@using Esmart.Permission.Web.Models.Common
<div class="p10">
    <input type="button" class="btn btn-primary" id="btnSave" value="保 存" onclick="SaveRoles()" />
    <input type="button" class="btn btn-primary" value="刷 新" onclick="ReloadTable()" />
</div>
<script>
    function SaveRoles() {
        var roleIds = [];
        $("#main_content_table input:checked").each(function () {
            var val = $(this).val();
            if (val != '0') {
                roleIds.push($(this).val());
            }
        });
        viewData.roleIds = roleIds.join();
        main.submit('@Url.Action("SaveRoles")', viewData, function () {
            main.getHtml("@Url.Action("TablePart")", viewData, function (html) {
                $("#data_content_table").html(html);
            });
        });
        viewData.roleIds = null;
        return false;
    }
    function ReloadTable() {
        main.getHtml("@Url.Action("TablePart")", viewData, function (html) {
            $("#data_content_table").html(html);
        });
    }
</script>